<form action="" method="POST">
    {% for i in info %}
    <fieldset>
        <legend>Contact Info</legend>
            Phone: <input type="text" name="phone" value="{{i.phone}}"><br>
            Email: <input type="text" name="email" value="{{i.email}}">
    </fieldset>
    <fieldset>
             <legend>About Us</legend>
             <textarea rows="6" cols="65" name="aboutus">{{i.aboutus}}</textarea>
    </fieldset>
    <fieldset>
             <legend>Our Mission</legend>
             <textarea rows="6" cols="65" name="mission">{{i.mission}}</textarea>
    </fieldset>
            <input type="submit" name="btnsiteinfo" value="Update">
            {%endfor%}
</form>