{# empty Twig template #}
<form>
  <fieldset>
    <legend>Personalia:</legend>
    About Us: <textarea rows="5" cols="50" name="aboutus">{{info.aboutus}}</textarea>
     Mission: <textarea rows="5" cols="50" name="mission">{{info.mission}}</textarea>
     Contact: <input type="text" size="10" name="contact" value="{{info.phone}}"/>
  </fieldset>
</form>